# Byte-compiled / optimized / DLL files
__pycache__/
utils/__pycache__/
model/__pycache__/
components/__pycache__/
Not_Ready_func/
.env

static/
templates/
swagger/
config.py
spcchart.py
blog.py
auth_flask.py